.Bihać{
	left:630px;
	top:14px;
}
.Bos.Krupa{
	left:676px;
	top:-10px;
}
.Cazin{
	left:630px;
	top:-30px;
}
.Bos.Petrovac{
	left:722px;
	top:97px;
}
.Sanski.Most{
	left:784px;
	top:30px;
}
.Prijedor{
	left:791px;
	top:-35px;
}
.Banja.Luka{
	left:890px;
	top:29px;
}
.Gradiška{
	left:897px;
	top:-71px;
}
.Velika.Kladuša{
	left:623px;
	top:-87px;
}
.Derventa{
	left:1052px;
	top:-33px;
}
.Doboj{
	left:1087px;
	top:-41px;
}
.Gračanica{
	left:1135px;
	top:54px;
}
.Gradačac{
	left:1159px;
	top:1px;
}
.Brčko.Distrikt{
	left:1244px;
	top:13px;
}
.Bos.Brod{
	top:1084px;
	left:-62px;
}
.Orašje{
	top:1214px;
	left:-42px;
}
.Tuzla{
	left:1211px;
	top:101px;
}
.Živinice{
	left:1211px;
	top:123px;
}
.Kalesija{
	left:1261px;
	top:133px;
}
.Zvornik{
	left:1275px;
	top:151px;
}
.Bijeljina{
	left:1327px;
	top:25px;
}
.Ugljevik{
	left:1287px;
	top:60px;
}
.Vlasenica{
	left:1271px;
	top:206px;
}
.Srebrenica{
	left:1347px;
	top:229px;
}
.Bratunac{
	left:1336px;
	top:207px;
}
.Višegrad{
	left:1341px;
	top:323px;
}
.Rogatica{
	left:1281px;
	top:323px;
}
.Goražde{
	left:1275px;
	top:360px;
}
.Foča{
	left:1232px;
	top:411px;
}
.Trebinje{
	left:1143px;
	top:636px;
}
.Stolac{
	left:1057px;
	top:535px;
}
.Čapljina{
	left:1005px;
	top:518px;
}
.Ljubuški{
	left:985px;
	top:491px;
}
.Jablanica{
	left:1020px;
	top:362px;
}
.Konjic{
	left:1020px;
	top:362px;
}
.Mostar{
	left:1020px;
	top:452px;
}
.Istočni.Mostar{
	left:1020px;
	top:452px;
}
.Čitluk{
	left:995px;
	top:486px;
}
.Grude{
	left:995px;
	top:486px;
}
.Gornji.Vakuf{
	left:978px;
	top:277px;
}
.Fojnica{
	left:1048px;
	top:277px;
}
.Bugojno{
	left:947px;
	top:244px;
}
.Donji.Vakuf{
	left:941px;
	top:212px;
}