.Bihać{
	left:630px;
	top:14px;
}
.Bos.Krupa{
	left:676px;
	top:-10px;
}
.Cazin{
	left:630px;
	top:-30px;
}
.Bos.Petrovac{
	left:722px;
	top:97px;
}
.Sanski.Most{
	left:784px;
	top:30px;
}
.Prijedor{
	left:791px;
	top:-35px;
}
.Banja.Luka{
	left:890px;
	top:29px;
}
.Gradiška{
	left:897px;
	top:-71px;
}
.Velika.Kladuša{
	left:623px;
	top:-87px;
}
.Derventa{
	left:1052px;
	top:-33px;
}
.Doboj{
	left:1080px;
	top:38px;
}
.Doboj.Istok{
	left:1102px;
	top:38px;
}
.Doboj.Jug{
	left:1039px;
	top:81px;
}
.Gračanica{
	left:1135px;
	top:54px;
}
.Gradačac{
	left:1159px;
	top:1px;
}
.Brčko.Distrikt{
	left:1244px;
	top:13px;
}
.Bos.Brod{
	left:1084px;
	top:-62px;
}
.Orašje{
	left:1214px;
	top:-42px;
}
.Tuzla{
	left:1211px;
	top:101px;
}
.Živinice{
	left:1211px;
	top:123px;
}
.Kalesija{
	left:1261px;
	top:133px;
}
.Zvornik{
	left:1275px;
	top:151px;
}
.Bijeljina{
	left:1327px;
	top:25px;
}
.Ugljevik{
	left:1287px;
	top:60px;
}
.Vlasenica{
	left:1271px;
	top:206px;
}
.Srebrenica{
	left:1347px;
	top:229px;
}
.Bratunac{
	left:1336px;
	top:207px;
}
.Višegrad{
	left:1341px;
	top:323px;
}
.Rogatica{
	left:1281px;
	top:323px;
}
.Goražde{
	left:1275px;
	top:360px;
}
.Novo.Goražde{
	left:1298px;
	top:349px;
}
.Foča{
	left:1232px;
	top:411px;
}
.Trebinje{
	left:1143px;
	top:636px;
}
.Stolac{
	left:1057px;
	top:535px;
}
.Čapljina{
	left:1005px;
	top:518px;
}
.Ljubuški{
	left:985px;
	top:491px;
}
.Jablanica{
	left:1020px;
	top:362px;
}
.Konjic{
	left:1020px;
	top:362px;
}
.Mostar{
	left:1020px;
	top:452px;
}
.Istočni.Mostar{
	left:1020px;
	top:452px;
}
.Čitluk{
	left:995px;
	top:486px;
}
.Grude{
	left:946px;
	top:454px;
}
.Gornji.Vakuf{
	left:978px;
	top:277px;
}
.Fojnica{
	left:1048px;
	top:277px;
}
.Bugojno{
	left:947px;
	top:244px;
}
.Donji.Vakuf{
	left:941px;
	top:212px;
}
.Jajce{
	left:906px;
	top:160px;
}
.Mrkonjić.Grad{
	left:869px;
	top:136px;
}
.Ključ{
	left:809px;
	top:100px;
}
.Drvar{
	left:723px;
	top:150px;
}
.Jezero{
	left:887px;
	top:150px;
}
.Glamoč{
	left:819px;
	top:248px;
}
.Kupres{
	left:915px;
	top:263px;
}
.Kupres.RS{
	left:915px;
	top:263px;
}
.Livno{
	left:857px;
	top:313px;
}
.Tomislavgrad{
	left:900px;
	top:337px;
}
.Neum{
	left:985px;
	top:580px;
}
.Nevesinje{
	left:1093px;
	top:479px;
}
.Berkovići{
	left:1103px;
	top:526px;
}
.Posušje{
	left:926px;
	top:412px;
}
.Prozor-Rama{
	left:984px;
	top:319px;
}
.Široki.Brijeg{
	left:978px;
	top:448px;
}
.Usora{
	left:1055px;
	top:51px;
} 
.Teslić{
	left:1038px;
	top:77px;
} 
.Tešanj{
	left:1061px;
	top:70px;
} 
.Maglaj{
	left:1090px;
	top:93px;
} 
.Žepče{
	left:1073px;
	top:133px;
} 
.Zavidovići{
	left:1080px;
	top:117px;
} 
.Zenica{
	left:1049px;
	top:197px;
} 
.Kakanj{
	left:1086px;
	top:218px;
} 
.Busovača{
	left:1041px;
	top:232px;
} 
.Visoko{
	left:1107px;
	top:259px;
} 
.Breza{
	left:1157px;
	top:248px;
}
.Ilijaš{
	left:1139px;
	top:278px;
}
.Vogošća{
	left:1145px;
	top:287px;
}
.Kiseljak{
	left:1083px;
	top:277px;
}
.Travnik{
	left:994px;
	top:194px;
}
.Novi.Travnik{
	left:994px;
	top:211px;
}
.Vitez{
	left:1020px;
	top:211px;
}
.Stari.Grad.Sarajevo{
	left:1179px;
	top:296px;
}
.Ilidža{
	left:1157px;
	top:296px;
}
.Istočna.Ilidža{
	left:1157px;
	top:311px;
}
.Centar.Sarajevo{
	left:1163px;
	top:296px;
}
.Istočni.Stari.Grad{
	left:1163px;
	top:296px;
}
.Ist.Novo.Sarajevo{
	left:1163px;
	top:296px;
}
.Novo.Sarajevo{
	left:1163px;
	top:296px;
}
.Novi.Grad{
	left:721px;
	top:-51px;
}
.Novi.Grad.Sarajevo{
	left:1163px;
	top:296px;
}
.Hadžići{
	left:1163px;
	top:296px;
}
.Pale{
	left:1196px;
	top:305px;
}
.Trnovo.FBiH{
	left:1182px;
	top:323px;
}
.Trnovo.RS{
	left:1182px;
	top:305px;
}
.Banovići{
	left:1164px;
	top:127px;
}
.Bileća{
	left:1159px;
	top:608px;
}
.Bos.Grahovo{
	left:745px;
	top:220px;
}
.Bužim{
	left:653px;
	top:-59px;
}
.Čajniče{
	left:1300px;
	top:386px;
}
.Čelić{
	left:1219px;
	top:39px;
}
.Čelinac{
	left:943px;
	top:39px;
}
.Dobretići{
	left:955px;
	top:138px;
}
.Domaljevac{
	left: 1145px;
	top: -70px;
}
.Donji.Žabar{
	left:1155px;
	top:-61px;
}
.Vukosavlje{
	left:1126px;
	top:-40px;
}
.Han.Pijesak{
	left:1273px;
	top:211px;
}
.Istočni.Drvar{
	left:767px;
	top:132px;
}
.Kalinovik{
	left:1162px;
	top:404px;
}
.Kladanj{
	left:1215px;
	top:193px;
}
.Kneževo{
	left:936px;
	top:112px;
}
.Kostajnica{
	left:761px;
	top:-107px;
}
.Kotor.Varoš{
	left:934px;
	top:80px;
}
.Koz.Dubica{
	left:803px;
	top:-91px;
}
.Kreševo{
	left:1074px;
	top:300px;
}
.Krupa.na.Uni{
	left:699px;
	top:-28px;
}
.Laktaši{
	left:913px;
	top:-5px;
}
.Milići{
	left:1269px;
	top:230px;
}
.Ljubinje{
	left:1097px;
	top:577px;
}
.Lopare{
	left:1247px;
	top:67px;
}
.Lukavac{
	left:1124px;
	top:-25px;
}
.Modriča{
	left:1184px;
	top:104px;
}
.Osmaci{
	left:1266px;
	top:137px;
}
.Oštra.Luka{
	left:768px;
	top:33px;
}
.Pale.Prača{
	left:1273px;
	top:337px;
}
.Pelagićevo{
	left:1209px;
	top:00px;
}
.Petrovac{
	left:737px;
	top:113px;
}
.Petrovo{
	left:1127px;
	top:75px;
}
.Prnjavor{
	left:997px;
	top:00px;
}
.Ravno{
	left:1059px;
	top:589px;
}
.Ribnik{
	left:821px;
	top:137px;
}
.Rudo{
	left:1359px;
	top:371px;
}
.Šamac{
	left:1169px;
	top:-71px;
}
.Sapna{
	left:1269px;
	top:121px;
}
.Šekovići{
	left:1255px;
	top:165px;
}
.Šipovo{
	left:886px;
	top:209px;
}
.Sokolac{
	left:1237px;
	top:278px;
}
.Srbac{
	left:962px;
	top:-71px;
}
.Srebrenik{
	left:1188px;
	top:46px;
}
.Teočak{
	left:1255px;
	top:79px;
}
.Foča.Ustikolina{
	left:1256px;
	top:395px;
}
.Gacko{
	left:1175px;
	top:504px;
}
.Olovo{
	left:1191px;
	top:223px;
}
.Odžak{
	left:1131px;
	top:-50px;
}
.Vareš {
	top: 212px;
	left: 1135px;
}