.Bihać{
	left:167px;
	top:100px;
}
.Banja.Luka{
	left:270px;
	top:120px;
}
.Banovići{
	top: 241px;
	left: 668px;
}
.Berkovići, .Berkovici{
	top: 585px;
	left: 509px;
}
.Bileca, .Bileća{
	top:585px;
	left: 641px;
}
.Bos.Brod{
	top:76px;
	left: 668px;
}
.Bos.Krupa{
	left:167px;
	top:100px;
}
.Bos.Petrovac{
	left:167px;
	top:100px;
}
.Bos.Grahovo{
	left:420px;
	top:350px;
}
.Bratunac{
	top:300px;
	left:823px;
}
.Brčko.District{
	left:750px;
	top:111px;
}
.Bijeljina{
	left:735px;
	top:150px;
}
.Breza{
	top: 300px;
	left: 600px;
}
.Bugojno{
	top:330px;
	left:390px;
}
.Busovača{
	top:330px;
	left:310px;
}
.Bužim{
	top:100px;
	left:200px;
}
.Donji.Vakuf{
	top:280px;
	left: 380px;
}
.Doboj{
	top:120px;
	left:400px;
}
.Gradiška{
	top:85px;
	left:480px;
}
.Ilidža, .Sarajevo, .Stari.Grad.Sarajevo{
	top: 300px;
	left: 600px;
}
.Kneževo{
	left:430px;
	top:210px;
}
.Livno, .Tomislavgrad{
	left:420px;
	top:350px;
}
.Mostar{
	top:500px;
	left:440px;
}
.Novi.Travnik, .Travnik{
	top:250px;
	left:580px;
}
.Srebrenica{
	left: 805px;
	top: 386px;
}
.Prijedor{
	top:120px;
	left:345px;
}
.Tuzla{
	left: 680px;
	top:202px;
}
.Trebinje{
	left: 633px;
	top: 602px;
}
.Zenica{
	top: 230px;
	left: 580px;
}