@font-face{
	font-family: 'gothamultraregular';
    src: url('/fonts/gothamultra-webfont.eot');
    src: url('/fonts/gothamultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gothamultra-webfont.woff') format('woff'),
         url('/fonts/gothamultra-webfont.ttf') format('truetype'),
         url('/fonts/gothamultra-webfont.svg#gothamultraregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
		font-family: 'gothambookregular';
	    src: url('/fonts/gothambook-webfont.eot');
	    src: url('/fonts/gothambook-webfont.eot?#iefix') format('embedded-opentype'),
	         url('/fonts/gothambook-webfont.woff') format('woff'),
	         url('/fonts/gothambook-webfont.ttf') format('truetype'),
	         url('/fonts/gothambook-webfont.svg#gothambookregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
}
@font-face{
		font-family: 'gothamblackregular';
	    src: url('/fonts/gothamblack-webfont.eot');
	    src: url('/fonts/gothamblack-webfont.eot?#iefix') format('embedded-opentype'),
	         url('/fonts/gothamblack-webfont.woff') format('woff'),
	         url('/fonts/gothamblack-webfont.ttf') format('truetype'),
	         url('/fonts/gothamblack-webfont.svg#gothamblackregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
}
@font-face{
		font-family: 'gothamboldregular';
	    src: url('/fonts/gothambold-webfont.eot');
	    src: url('/fonts/gothambold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('/fonts/gothambold-webfont.woff') format('woff'),
	         url('/fonts/gothambold-webfont.ttf') format('truetype'),
	         url('/fonts/gothambold-webfont.svg#gothamboldregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
}
@font-face{
		font-family: 'gothamlightregular';
	    src: url('/fonts/gothamlight-webfont.eot');
	    src: url('/fonts/gothamlight-webfont.eot?#iefix') format('embedded-opentype'),
	         url('/fonts/gothamlight-webfont.woff') format('woff'),
	         url('/fonts/gothamlight-webfont.ttf') format('truetype'),
	         url('/fonts/gothamlight-webfont.svg#gothamlightregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
}
@font-face{
		font-family: 'gothamthinregular';
	    src: url('/fonts/gothamthin-webfont.eot');
	    src: url('/fonts/gothamthin-webfont.eot?#iefix') format('embedded-opentype'),
	         url('/fonts/gothamthin-webfont.woff') format('woff'),
	         url('/fonts/gothamthin-webfont.ttf') format('truetype'),
	         url('/fonts/gothamthin-webfont.svg#gothamthinregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
}
.gotham-ultra{
	font-family: 'gothamultraregular';
}
.gotham-book{
	font-family: 'gothambookregular';
}
.gotham-black{
	font-family: 'gothamblackregular';
}
.gotham-bold{
	font-family: 'gothamboldregular';
}
.gotham-light{
	font-family: 'gothamlightregular';
}
.gotham-thin{
	font-family: 'gothamthinregular';
}
.font-black{
	color:#262626;
}
.font-green{
	color:#829c9b;
}
.font-green-light{
	color: #9dc4c5;
}
.clear{
	clear:both;
}
.full_width{width:100%;}
.infographic_wrapper{
	width:2133px;
	padding:75px 175px;
	background-color:#e9e2ce;
	float:left;
	color:#262626;
}
.infographic_wrapper .header{
	height:83px;
}
.infographic_wrapper .header .green_line{
	height:6px;
	width:532px;
	background-color: #829c9b;
	float:left;
	margin-top:66px;
}
.infographic_wrapper .header .title{
	font-size:120px;
	float:left;
	height:125px;
	margin:0 46px;
}
.month{
	font-size: 44px;
	text-align: center;
	float:left;
	width: 100%;
}
.infographic_wrapper .description{
	text-align: justify;
	font-size:38px;
	margin-top:44px;
}
.infographic_wrapper .incidents_responses{
	float: left;
}
.incidents_responses .incidents{
	float: left;
}
.incidents_responses .responses{
	float: left;
	margin-left: 212px;
}
.incidents_responses .incidents .header, .incidents_responses .responses .header{
	font-size: 93px;
	padding:40px 0px 60px 0px;
	margin-top: 68px;
	float: left;
	width: 960px;
	text-align: center;
}
.incidents_responses .incidents .header{
	background-color: #262626;
	color:#9dc4c5;
}
.incidents_responses .responses .header{
	background-color: #9dc4c5;
	color:#262626;
}
.incidents_responses .full_width{text-align: center;}
.incidents_responses .number_placeholder{
	width: 398px;
	text-align: center;
	font-size: 310px;
	float: left;
}
.incidents_responses .description{
	float: left;
	padding: 30px 26px;
	width: 494px;
	height: 164px;
	margin-top: 68px;
	margin-left: 14px;
}
.incidents .description, .responses .description{
	background-color: #829c9b;
}

.incidents_responses .description .full_width{text-align: justify;font-size: 36px;}
.incidents_responses .description .full_width.number_of_incidents{font-size: 58px;}
.incidents_responses .description .incidents{font-size: 85px;margin-top:-9px;margin-bottom: -6px;}
.incidents_responses .description .responses{font-size: 78px;margin-top:-9px;margin-bottom: -6px;margin-left: 0px;}
.monthly_statistics { width: 960px;float: left;margin-top: 20px;}
.victim_characteristics .title{
	text-align: justify;
	font-size: 47px;
	margin-bottom: 25px;
}
.victim_characteristics .first, .victim_characteristics .second, .victim_characteristics .third, .victim_characteristics .fourth{
	height:76px;
	float:left;
	margin-bottom: 13px;
}
.victim_characteristics .first_lbl, .victim_characteristics .second_lbl, .victim_characteristics .third_lbl, .victim_characteristics .fourth_lbl{
	float:left;
	font-size:26px;
}
.victim_characteristics .first{background-color: #262626;}
.victim_characteristics .second{background-color: #546060;}
.victim_characteristics .third{background-color: #829c9b;}
.victim_characteristics .fourth{background-color: #9dc4c5;}
.victim_characteristics .first_lbl{color: #262626;}
.victim_characteristics .second_lbl{color: #546060;}
.victim_characteristics .third_lbl{color: #829c9b;}
.victim_characteristics .fourth_lbl{color: #9dc4c5;}