<style>
	.infographic_wrapper{
		width:2133px;
		padding:75px 175px;
		background-color:#e9e2ce;
		zoom: 0.5;
		-moz-transform: scale(0.5);
		float:left;
	}
	.infographic_wrapper .header{
		height:83px;
	}
	.infographic_wrapper .header .green_line{
		height:6px;
		width:532px;
		background-color: #829c9b;
		float:left;
		margin-top:66px;
	}
	.infographic_wrapper .header .title{
		font-size:120px;
		float:left;
		margin:0 46px;
	}
	.font-black{
		color:#262626;
	}
</style>
<div class="infographic_wrapper">
	<div class="header">
		<div class="green_line"></div>
		<div class="title gotham-ultra font-black">HATE MONITOR</div>
		<div class="green_line"></div>
	</div>
</div>
