<!DOCTYPE html>
<html>
<head>

    <meta name="description" content="">
	<title>Osceinfographic</title>

	<%= csrf_meta_tag %>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-responsive.min.css">
	<% if I18n.locale == "bs" %>
		<link rel="stylesheet" type="text/css" href="stylesheets/main_bs.css">
	<% else %>
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<% end %>
	<script src="javascripts/jquery-2.0.3.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
</head>
<body>
	<div class="container home" >
		<div class="header">
			<div class="green_line"></div>
			<div class="title gotham-ultra font-black">HATE MONITOR</div>
			<div class="green_line"></div>
			<div class="clear"></div>
	    </div>
	    <%=yield%>
	    <div class="clear"></div>
	    <div class="footer">
	    	<div class="logo"><img src="images/osce_footer_logo.png" /></div>
		</div>
	</div> <!-- /container -->


</body>
</html>
